{% include head.html %}

<section class="article">
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
</section>
<section class="article archive">
  <article class="archive-wrap">
  {%for post in site.posts reversed %}
    {% if forloop.first %}
    <h2>As it happened</h2>
      <h3>{{ post.date | date: '%Y' }}</h3>
      <ul class="archive-list">
    {% endif %}

      <li>
        <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d" }}</time>  <a{%if post.ross %} class="ross"{% endif %}{%if post.imogen %} class="imogen"{% endif %} href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </div>
      </li>
    {% if forloop.last %}
      </ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3>{{ post.next.date | date: '%Y' }}</h3>
        <ul class="archive-list">
      {% endif %}
    {% endif %}
  {% endfor %}
  </article>
</section>
{% include footer.html %}